*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.geral{
    display: flex;
}
.inTempo{
display: flex;
}

.relogio{
   
    margin: auto;
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 10rem;
}
.campo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.linhaInputs{
    display: flex;
    gap: 10px;
}

.botoes{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    
    gap: 25px;
}

.botoes button{
    color: aliceblue;
}
.botoes button{
    height: 3em;
    width: 8em;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
}

.editartemp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #0000;

    display: none;

    justify-content: center;
    align-items: center;
}

.modal{
    background-color: #2c2c2c;
    padding: 30px;
    border-radius: 15px;

    width: auto;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input{
    padding: 10px;
    border: none;
    border-radius: 8px;
    
    font-size: 30px;
}

/* BOTÕES */

button{
    padding: 10px;
    border: none;
    border-radius: 8px;

    color: white;
    font-size: 30px;

    cursor: pointer;
}

.fechar{
   background-color: transparent;
   font-size: 25px;
    margin-left:72rem;

    
}

.tutorial{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #0000;

    display: none;

    justify-content: center;
    align-items: center;


}